**Q. What is the difference between union and union all**
***
**A.**
- ` UNION ` only returns unique
- ` UNION ALL ` returns all records, including duplicates.

**Q. Find 5th highest salary? with & without rank functions?**
***
**A.**
- With rank function                 
<code> select *,                    
 row_number() over(order by salary) AS list_sal                      
 from second_table            
 where list_sal = 4;           
</code>
- Without rank function
  - select four height salary rows                 
<code>Select * 
from 
(select * from second_table order by salary desc limit 4) as T 
order by T.salary limit 1;
</code>
  - select with limit and offset                          
<code>select *
from second_table
order by salary
limit 1 offset 4;
</code>

**Q. I have 2 tables and I need both the table data?**
***
**A.** Use union

**Q. We need all the employees who are getting more salary than the manager**
***
**A.**

<code>select * 
from second_table  
where salary > (select salary  
from second_table  
where department = 'HR');   
</code>

**Q. We have a table with duplicates. Generally, we use distinct for that. without using distinct how to do it.**
***
**A.**
- select distinct row by using row_number                      
  <code>select id, first_name, last_name, email,
  row_number() over (partition by first_name, last_name, email)
  from contacts;
  </code>

- select duplicate row by using aggrigetion                          
  <code>select first_name, last_name, email, count(1) 
from employee 
group by first_name, last_name, email having count(1) > 1;</code>

**Q. What is the CTE(common table expression) and how is it used in my MySQL table**
***
**A.**

- A common table expression, or CTE, is a temporary named result set created from a simple SELECT statement that can be used in a subsequent SELECT statement.
- We can define CTEs by adding a WITH clause directly before ` SELECT `, ` INSERT `, ` UPDATE `, ` DELETE `, or ` MERGE ` statement
- The WITH clause can include one or more CTEs separated by commas

<code>
with my_cte AS (select num, count(num)
                from mynumbers
                group by num
                having count(num) < 2)
select max(num) AS num from my_cte;
</code>

| Pattern    | What the Pattern Matches                                              |
|------------|------------------------------------------------------------------------|
| *          | Zero or more instances of the string preceding it                    |
| +          | One or more instances of the strings preceding it                     |
| .          | Any single character                                                 |
| ?          | Match zero or one instances of the strings preceding it               |
| ^          | Caret (^) matches the beginning of the string                        |
| $          | End of string                                                         |
| [abc]      | Any character listed between the square brackets                      |
| [^abc]     | Any character not listed between the square brackets                  |
| [A-Z]      | Match any uppercase letter                                            |
| [a-z]      | Match any lowercase letter                                            |
| [0-9]      | Match any digit from 0 through 9                                      |
| [[:<:]]    | Matches the beginning of words                                        |
| [[:>:]]    | Matches the end of words                                              |
| [:class:]  | Matches a character class, e.g., [:alpha:] to match letters, [:space:] to match white space, [:punct:] to match punctuations, and [:upper:] for uppercase letters |
| p1\|p2\|p3 | Alternation; matches any of the patterns p1, p2, or p3                |
| {n}        | n instances of the preceding element                                  |
| {m,n}      | m through n instances of the preceding element                        |
^[ns]';`  |

**Q. What is the RegEx in MySQL and how use it**
***
**A.**

#### **SELECT * FROM `learnerdetails` WHERE `course_name` REGEXP patern;**

<table>
<thead>
<tr>
<th>Pattern</th>
<th>What the Pattern matches</th>
</tr>
</thead>
<tbody>
<tr>
<td>*</td>
<td>Zero or more instances of string preceding it</td>
</tr>
<tr>
<td>+</td>
<td>One or more instances of strings preceding it</td>
</tr>
<tr>
<td>.</td>
<td>Any single character</td>
</tr>
<tr>
<td>?</td>
<td>Match zero or one instances of the strings preceding it.</td>
</tr>
<tr>
<td>^</td>
<td>caret(^) matches Beginning of string</td>
</tr>
<tr>
<td>$</td>
<td>End of string</td>
</tr>
<tr>
<td>[abc]</td>
<td>Any character listed between the square brackets</td>
</tr>
<tr>
<td>[^abc]</td>
<td>Any character not listed between the square brackets</td>
</tr>
<tr>
<td>[A-Z]</td>
<td>match any upper case letter.</td>
</tr>
<tr>
<td>[a-z]</td>
<td>match any lower case letter</td>
</tr>
<tr>
<td>[0-9]</td>
<td>match any digit from 0 through to 9.</td>
</tr>
<tr>
<td>[[:&lt;:]]</td>
<td>matches the beginning of words.</td>
</tr>
<tr>
<td>[[:&gt;:]]</td>
<td>matches the end of words.</td>
</tr>
<tr>
<td>[:class:]</td>
<td>matches a character class i.e<br>. [:alpha:] to match letters, [:space:] to match white space, [:punct:] is match punctuations and [:upper:] for upper class letters.</td>
</tr>
<tr>
<td>p1|p2|p3</td>
<td>Alternation; matches any of the patterns p1, p2, or p3</td>
</tr>
<tr>
<td>{n}</td>
<td>n instances of preceding element</td>
</tr>
<tr>
<td>{m,n}</td>
<td>m through n instances of preceding element</td>
</tr>
</tbody>
</table>

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**

**Q. **
***
**A.**