## Schema Structure

## Date and Time

**1.** ` to_timestamp(timestampString:Column,format:String)` : Used to type cast into data and time format (MM-dd-yyyy HH:mm:ss.SSS). You should adjust time format according to data/column.                 
**2.** `df.select(to_timestamp("data_time_col_name"))`             
**3.** ` df.withColumn('end_time', from_unixtime(unix_timestamp(expr("CONCAT(date,' ',time)"), '%Y-%M-%d %H:%m:%S.%f')))  `: Convert and concat date and time columns.

`to_timestamp()` : data and time casting

## How to handle null value

`df.na.fill()`

`df.fillna()`

`desc_null_first()`

` df.fillna(0, subset=['col1', 'col2']).show(): Order dataframe from multiple column  `

## Join and combain tables

` df.join(df2, col("id")==col("emp_id"), "inner")  `: Get three parameter, dataframe column and type of join

## Duplicate Records

`df.select().distinct() `: The distinct operation in PySpark returns distinct rows based on all columns in the DataFrame, not just a single column.

` df.dropDuplicates(["department","salary"])  `: If you specifically want to get distinct values for a single column and still see the entire row, you can use the dropDuplicates

` df.dropDuplicates( )  `: Drop duplicate rows                       
` df.dropDuplicates(“age”)  `: Drop duplicate rows from age column                                
` df.dropDuplicates([“age”, “name”, “city”])  `:  Drop duplicate record form multiple column

## Advance DataType

` struct( )  `

` array() `

## Conditional Statement

`when(when, then).otherwise(col) `: when has two parameter when and then

`expr()`: It is a SQL function to execute SQL-like expressions and to use an existing DataFrame column value as an ***expression argument** to Pyspark built-in functions.

` df.union(df1) `: combain two dataframe vartically.

`df.explain()` : Show DAG plan(how to run your code)

`coalesce().lit()`                    
visit : https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.functions.coalesce.html

`df.sample(withReplacement, fraction, seed=None)`: It is a mechanism to get random sample records from the dataset, this is helpful when you have a larger dataset and wanted to analyze/test a subset of the data for example 10% of the original file.**fraction** range b/w 0 to 1

`monotonically_increasing_id()`

`df.orderBy(col("col1").desc() | asc())`: order singel column assiding or dessing order.

` df.select(col("col1"),when().otherwise()) `: condition

`df.withColumn(string, when(,otherwise).alias())`

`date_sub()` : substract date

` col("col1").cast() `: Type casting dataframe column

`lit(None)`

` df.schema() `

`df.selectExpr()`

` df.withColumn("new_col",struct(col("col1"),col("col2"),...)) `: Combaine columns to struct data type

` df.withColumn("new_col",array(col("col1"),col("col2"),..)) ` : Combaine columns to array data type

` df.limit(5) `: Show limited column, here only 5

` df.randomSplit ([x,y])`: Divide dataframe randomly in given ratio, where (x+y=1)

## filter

` substr() `: create sub string form string column
- ` df.withColumn("last_character", col("City").substr(-1, 1)).show() `: get last character from string column
- ` df.withColumn("last_character", col("City").substr(1, 1)).show() `: get last character from string column

` getItem(0) `: get string from string column by using index number
- ` df.withColumn("new_City", split(col("City"), "").getItem(0)).show() `

` endsWith(str) `: filter an string column which ends with "str"
- ` df.select(col("City")).filter(col("City").endswith("m")).show() `

` endswith(str) `: filter an string column which ends with "str"
- ` df.select(col("City")).filter(col("City").endswith("m")).show() `

` endswith(str) `: filter an string column which ends with "str"
- ` df.select(col("City")).filter(col("City").startswith("m")).show() `